k# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

.settings
bin/
build-reports/

# Eclipse
.classpath
.factorypath
.project
.settings/
 
# Intellij
.idea/
*.iws
*.iml
 
# Mac
.DS_Store
 
# Maven
log/
/.mvn/

# Deployment and Security Files
MAVEN_CENTRAL_DEPLOYMENT.md
DEPLOYMENT_GUIDE.md
RELEASE_NOTES_INTERNAL.md
BUILD_NOTES.md
settings.xml
maven-settings-template.xml
maven-settings*.xml
*.asc
*.gpg
*-private.key
*-public.key

# Build scripts
build.sh

# Local configuration
local.properties
deployment.properties
secrets.properties

# Credentials and tokens
.env
.credentials
maven-central-token.txt
gpg-passphrase.txt
